body {
  font-family: Arial, Helvetica, sans-serif;
  width: 70%;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 10px;
}

.contact-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}
.experiance-container {
  border-bottom: 2px dotted #000;
}

hr {
  width: 100%;
  border-top: 3px solid black;
}
h1 {
  text-transform: uppercase;
}

.experiance-container p {
  color: black;
  line-height: 1.5;
}

.experiance-container ul {
  margin: 0 auto;
  padding: 10px 18px;
}
.experiance-container ul li {
  margin: 0 0;
  line-height: 1.5;
  padding: 0px;
}
.row-one {
  display: flex;
  gap: 90px;
  line-height: 1.5;
}

.rocket {
  border-bottom: 2px dotted;
}

.row-one .skils-ul {
  display: flex;
  justify-content: space-around;
  font-weight: 600;
  gap: 50px;
  list-style: none;
  padding: 0;
}

.row-two .skils-ul {
  display: flex;
  justify-content: start;
  gap: 70px;
  font-weight: 600;
  list-style: none;
  padding: 0;
}

.skils-ul li {
  border-bottom: 3px solid #000;
  margin-bottom: 12px;
  line-height: 1.5;
}
